<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bienvenido {{ title }}!
  </h1>
</div>

<h2>
  Introduce 2 numeros 
</h2>

<form (ngSubmit)="Multiplicar();">

  <div>
    <input type="number" id="numero1" name="numero1" placeholder="escribe un numero" required [(ngModel)]="numero1">
  </div>
  <div>
    <input type="number" id="numero2" name="numero2" placeholder="escribe un numero" required [(ngModel)]="numero2">
  </div>

  <button>Multiplicar</button>

</form>

<h2>
  El resultado es: {{ resultado }}
</h2>

<router-outlet></router-outlet>
