<button (click)= "Mostrar()">Mostrar lista de persona</button>
<button (click)= "Resetearpuntos()">Resetear puntos</button>
<div>
    <h2> LISTA DE ALUMNOS </h2>
    <ul *ngFor="let persona of lista"> <!--iterar: crear un elemento para cada persona de la lista-->
        <li *ngIf="persona.rol=== 'Alumno'">  <!--condición: solo si la persona es un alumno-->
            Nombre: {{persona.nombre}} - Puntos: {{persona.puntos}}
            <button (click)= "Incrementar(persona.nombre)">Añadir punto</button>
        </li>
    </ul>
</div>
